.cell {
    width: 40px;
    height: 40px;
    outline: 1px solid black;
    float: left;
    margin-right: 1px;
    margin-bottom: 1px;
    text-align: center;
    vertical-align: middle;
}

.fixed-cell {
    background-color: #CCC;
}

.selected-cell {
    background-color: #9CF;
}

.cell-content {
    padding-top: 6px;
    user-select: none;
}

.game {
    margin: 0 auto;
    margin-top: 30px;
    width: 368px;
    height: 400px;

}

.board {
    outline: 2px solid black;
    height: 368px;
    width: 369px;
}

.status {
    text-align: center;
    height: 40px;
}
